/* =========== Reset =========== */

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
:root {
  /* Fundos e superfícies */
   --color-page-background-transparente: rgb(246, 242, 233,.9);
  --color-page-background: #F6F2E9;
  --color-surface-primary: #FFFDF8;
  --color-surface-secondary: #EDE7D9;
  --color-surface-warm-beige: #E6DED0;
  --color-surface-category-hover: #EFEADF;

  /* Marca e elementos interativos */
  --color-brand-green: #0C2922;
  --color-brand-green-deep: #0f352d;
  --color-brand-green-hover: #1F453A;
  --color-brand-gold: #B59563;
  --color-brand-gold-cta: #C6AA7C;
  --color-brand-gold-light: #DFC593;

  /* Texto */
  --color-text-primary: #132D26;
  --color-text-secondary: #78766C;
  --color-text-on-dark: #F7F0E4;
  --color-text-on-dark-muted: #BDC4B6;
  --color-text-on-gold: #0C2922;

  /* Bordas e estrutura */
  --color-border-subtle: #DED8CA;
  --color-border-dark: #294139;
  --color-border-warm: #CBBFAE;

  /* Estados e detalhes */
  --color-success-message: #D3BD91;
  --color-icon-muted: #A59984;
  --color-white: #FFFFFF;
  --font-bodoni:"Bodoni Moda", serif;
  --font-manrope: "Manrope", sans-serif;
}
/* =========== Config gerais =========== */

h1,h2,h3{
    color: var(--color-text-primary);
    font-family: var(--font-bodoni);
}
.eyebrow{
    color: var(--color-brand-gold);
    grid-column: 2;
}

.iconeContato{
    color: var(--color-brand-gold);
}

body{
    background-color: var(--color-page-background);
    font-family: var(--font-manrope);
    color: var(--color-text-secondary);
}
/* =========== Início =========== */
.inicio{
    display: flex;
    justify-content: center;
    text-align: center;
    position: relative;
    overflow: hidden;
}
.inicio img{
    width: 100%;
    min-height: 100px;
    max-height: 500px;
    overflow: hidden;
    object-fit: cover;
}
.inicio div{
    line-height: 1.5em;
    position: absolute;
    align-content: center;
    background-color: rgb(12, 41, 34,.20);
    height: 100%;
    width: 100%;
}
.inicio div p,
.inicio div h1{
    color: var(--color-white);
    line-height: 1.5em;
}
.trecho2,
.trecho{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* trecho */
.trecho2::before,
.trecho::before{
    content: "";
    position: absolute;
    left: 20%;
    width: 20%;
    height: 3px;
    background-color: var(--color-brand-gold);
    color: var(--color-brand-gold);   
}
.trecho2::after,
.trecho::after{
    content: "";
    position: absolute;
    right: 20%;
    width: 20%;
    height: 3px;
    background-color: var(--color-brand-gold);
    color: var(--color-brand-gold);   
}


/* =========== Cadastro / Formulário =========== */
.cadastro{
    padding: 10px 40px;
}
.cadastro div h2{
    font-size: clamp(2rem,4vh,8em);
}
select,
textarea,
input{
    background-color: var(--color-surface-secondary);
    border: 1px solid var(--color-brand-gold-cta);
    border-radius: 8px;
    padding: 10px;
    margin-bottom: 10px;
    width: 100%;
    min-height: 50px;
    transition: border .3s;
    padding-left: 40px;
}
form article{
    position: relative;
}

.input-icone{
    position: absolute;
    left: 15px;
    top: 45%;
    transform: translateY(-60%);
    color: var(--color-brand-gold);
}
.input-icone-msg{
    position: absolute;
    top: 5%;
    color: var(--color-brand-gold);
    left: 5%;
}
textarea{
    min-height: 100px;
    max-height: 200px;
    max-width: 300px;
}
textarea:focus-visible,
input:focus-visible{
    outline: 3px solid var(--color-brand-gold-light);
}
#btn-send{
    gap: 10px;
    padding: 15px;
    width: 100%;
    text-align: center;
    border: 0;
    color: var(--color-white);
    font-weight: bold;
    border-radius: 8px;
    background-color: var(--color-brand-green-deep);
}
/* =========== Formas de contato =========== */
.contatar{
    padding: 10px 40px;
    background-color: #F5F0E6;
}
/* Contatos */
.contatar article{
    display: flex;
    gap: 20px;
    align-items: center;
    border-bottom: 1px solid var(--color-border-subtle);
    padding: 20px;
}
.contatar article p{
    color: var(--color-text-secondary);
}
.contatar article:last-child{
    border-bottom: 0;
}
/* icone */
.iconeContatar{
    background-color: var(--color-surface-warm-beige);
    color: var(--color-brand-gold-cta);
    border-bottom: 1px solid var(--color-brand-gold-cta);
    padding: 10px;
    border-radius: 50%;
}



/* =========== Ações rápidas =========== */
.servicos{
    background-color: #EDE7D9;
    padding: 40px 15px;
}
.servicos > div{
    display: flex;
    flex-direction: column;
    padding: 10px;
    align-items: center;
}
.actions-grip{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    padding: 10px 20px;
    gap: 10px;
}
.action-card{
    background-color: var(--color-surface-primary);
    padding: 10px;
    border-radius: 18px;
    transition: box-shadow .3s;
}

.eyebro{
    color: var(--color-brand-gold);
}

/* =========== Responsividade =========== */
@media(min-width:768px){
form{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 20px;
}
textarea{
    min-height: 200px;
    max-height: 400px;
    min-width: 50%;
    max-width: 100%;
}
form article:has(textarea){
    grid-column: span 2;
    width: 100%;
}

.input-icone-msg{
    position: absolute;
    top: 4%;
    color: var(--color-brand-gold);
    left: 1%;
}

form #btn-send{
    grid-column: span 2;
}
.contatar{
    display: grid;
    grid-template-columns: 0.5fr 1fr .5fr;
}
.contatar article{
    grid-column: 2/3;
}
.actions-grip{
    justify-items: center;
    row-gap: 10px;
    width: 50%;
    margin: 0 auto;
}
.action-card{
    width: 100%;
    min-height: 100px;
}
.action-card:hover{
    box-shadow: 3px 4px 6px rgba(0, 0, 0, 0.241);
}
.action-card:active{
    transform: scale(.99);
}

}
