* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --background-color: #F9FAFB;
    --color-primary: #4F39F6;
    --color-primary-hover: #EEF2FF;
    --color-secondary-hover: #5a57fdbd;
    --color-secondary: #615FFF;
    --color-border: #E5E7EB;
    --color-border-warm: #E3E4E6;
    --text-secondary: #82878f;
    --color-white: #FFFFFF;
}

input[type="date"],
select,
button {
    cursor: pointer;
}

body {
    width: 100%;
    min-height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
    background-color: var(--background-color);
}

/* HEADER MOBILE */

header {
    position: relative;
    width: 100%;
    background-color: var(--color-white);
    border-bottom: 1px solid var(--color-border);
}

.header-content {
    display: flex;
    align-items: center;
    gap: 15px;
    height: 70px;
    padding: 0 20px;
}

.header-content button {
    border: none;
    background: transparent;
    color: var(--color-primary);
    padding: 8px;
}

header h2 {
    color: var(--color-primary);
    font-size: 20px;
}

.menu-container {
    position: fixed;
    z-index: 30;
    top: 10%;
    left: 0;
    opacity: 0;
    width: fit-content;
    transform: translateX(-100%);
}
.menu-container  .logo{
   padding: 20px;
}

#menu {
    border: 1px solid var(--color-border-warm);
    
    opacity: 0;
    pointer-events: none;
    transition: transform 0.3s ease, opacity 0.3s ease;
}

#menu.ativo {
    
    opacity: 1;
    pointer-events: auto;
    
}
.menu-container:has(#menu.ativo){
    top: 0;
    background-color: var(--background-color);
    height: 100%;
    opacity: 1;
    transform: translateX(0);

}

#menu ul {
    display: flex;
    flex-direction: column;
    gap: 10px;
    list-style: none;
    padding: 15px 20px;
}

#menu a {
    display: flex;
    align-items: center;
    gap: 15px;

    color: #808080;
    font-weight: 500;
    text-decoration: none;

    padding: 12px 15px;
    border-radius: 16px;

    transition:
        background-color .3s,
        color .3s;
}

#menu a:hover,
#menu a:focus {
    background-color: var(--color-primary-hover);
    color: var(--color-primary);
}

#menu a i {
    width: 25px;
}

/* DESKTOP */

@media (min-width: 768px) {

    header {
        position: fixed;
        top: 0;
        left: 0;
        width: 250px;
        height: 100vh;
        border-right: 1px solid var(--color-border);
        border-bottom: none;
        background-color: var(--color-white);
    }

    .header-content {
        display: none;
    }

    .menu-container {
        display: block;
        height: 100%;
    }

    .logo {
        display: flex;
        align-items: center;
        height: 100px;
        padding: 20px;

        border-bottom: 1px solid var(--color-border);
    }

    #menu {
        display: block;
    }

    #menu ul {
        padding: 30px 15px;
    }

    #menu a {
        padding: 14px 15px;
    }
}