* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


:root {
    --background-color: #F9FAFB;
    --color-primary: #4F39F6;
    --color-primary-hover: #EEF2FF;
    --color-secondary-hover: #5a57fdbd;
    --color-secondary: #615FFF;
    --color-border: #E5E7EB;
    --color-border-warm: #E3E4E6;
    --text-secondary: #82878f;
    --color-white: #FFFFFF;
}

input[type="date"],
select,
button {
    cursor: pointer;
}

body {
    width: 100%;
    min-height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
    background-color: var(--background-color);
}

/* =========================
   HEADER MOBILE
========================= */

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 70px;
    background-color: var(--color-white);
    border-bottom: 1px solid var(--color-border);
    z-index: 20;
}

.header-content {
    display: flex;
    align-items: center;
    gap: 15px;
    height: 70px;
    padding: 0 20px;
}

header h2 {
    color: var(--color-primary);
    font-size: 20px;
}

#btn-menu {
    border: none;
    background: transparent;
    color: var(--color-primary);
    padding: 8px;
    font-size: 20px;
}

/* =========================
   MENU MOBILE
========================= */

.menu-container {
    position: fixed;
    top: 70px;
    left: 0;

    width: 250px;
    height: calc(100vh - 70px);

    background-color: var(--background-color);
    border-right: 1px solid var(--color-border-warm);

    opacity: 0;
    transform: translateX(-100%);
    pointer-events: none;

    transition:
        transform 0.3s ease,
        opacity 0.3s ease;
}

#menu {
    opacity: 0;
    pointer-events: none;

    transition:
        opacity 0.3s ease;
}

#menu.ativo {
    opacity: 1;
    pointer-events: auto;
}

.menu-container:has(#menu.ativo) {
    opacity: 1;
    transform: translateX(0);
    pointer-events: auto;
}

/* =========================
   LINKS DO MENU
========================= */

#menu ul {
    display: flex;
    flex-direction: column;
    gap: 10px;

    list-style: none;
    padding: 15px 20px;
}

#menu a {
    display: flex;
    align-items: center;
    gap: 15px;

    color: var(--text-secondary);
    font-weight: 500;
    text-decoration: none;

    padding: 12px 15px;
    border-radius: 16px;

    transition:
        background-color 0.3s ease,
        color 0.3s ease;
}

#menu a:hover,
#menu a:focus {
    background-color: var(--color-primary-hover);
    color: var(--color-primary);
}

#menu a:focus {
    outline: 2px solid var(--color-primary);
    outline-offset: 2px;
}

#menu a i {
    width: 25px;
    text-align: center;
}

/* =========================
   MAIN
========================= */

main {
    width: 100%;
    min-height: 100vh;
    padding: 90px 20px 30px;
}

/* =========================
   DESKTOP
========================= */
@media (min-width: 1024px) {

   body {
    display: grid;
    grid-template-columns: auto 1fr;
    width: 100%;
    }
    header {
        position: static;
        grid-column: 1;
        grid-row: 1;
        width: auto;
        height: 100vh;
        border-right: 1px solid var(--color-border);
        border-bottom: none;
        background-color: var(--color-white);
    }

    .header-content {
        display: none;
    }

    .menu-container {
        position: static;
        width: auto;
        height: 100vh;
        opacity: 1;
        transform: translateX(0);
        pointer-events: auto;
        border: none;
        background-color: var(--color-white);
        padding: 10px;
    }

    #menu {
        opacity: 1;
        pointer-events: auto;
        width: fit-content;
    }

    .logo {
        display: flex;
        align-items: center;
        height: fit-content;
        padding: 10px;
        border-bottom: 0;
    }

    #menu ul {
        padding: 30px 15px;
    }

    #menu a {
        padding: 14px 15px;
    }
    main {
        grid-column: 2;
        grid-row: 1;
        width: 100%;
        min-height: 100vh;
        margin-left: 0;
        padding: 30px;
    }
}
/* @media (min-width: 768px) {

    body {
        display: grid;
        grid-template-columns: auto 1fr;
        width: 100%;
    }

    header {
       position: static;

    grid-column: 1;
    grid-row: 1;

    width: auto;
    height: 100vh;

    border-right: 1px solid var(--color-border);
    border-bottom: none;

    background-color: var(--color-white);
    }

    .header-content {
        display: none;
    }

    .menu-container {
        position: static;

        width: auto;
        height: 100vh;

        opacity: 1;
        transform: translateX(0);

        pointer-events: auto;

        border: none;
        background-color: var(--color-white);

        padding: 10px;
    }

    #menu {
        opacity: 1;
        pointer-events: auto;

        width: fit-content;
    }

    .logo {
        display: flex;
        align-items: center;

        height: fit-content;
        padding: 10px;

        border-bottom: 0;
    }

    #menu ul {
        padding: 30px 15px;
    }

    #menu a {
        padding: 14px 15px;
    }

    main {
        grid-column: 2 / 3;

        width: 100%;
        min-height: 100vh;

        margin-left: 0;
        padding: 30px;
    }
} */
/* =========================
   ANIMAÇÃO DA SIDEBAR
========================= */

@keyframes sidebar {
    from {
        transform: translateX(-100%);
        opacity: 0;
    }

    to {
        transform: translateX(0);
        opacity: 1;
    }
}

/* =========================
   VIEW TRANSITIONS
========================= */

@view-transition {
    navigation: auto;
}


::view-transition-old(root) {
    animation: fade-out 0.25s ease;
}


::view-transition-new(root) {
    animation: fade-in 0.25s ease;
}



@keyframes fade-out {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}

@keyframes fade-in {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}


