*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --background-color: #F8F8FB;

    --color-primary: #6366F1;
    --color-primary-hover: #EEF2FF;

    --color-secondary-hover: #7671F5;
    --color-secondary: #818CF8;

    --color-border: #E5E7EF;
    --color-border-warm: #DCDEE5;

    --text-color: #1F2937;
    --text-secondary: #6B7280;

    --color-white: #FFFFFF;
    --color-red: #EF4444;
    --main-background: #9999B5;
}

body.dark{
    --background-color: #111827;

    --color-primary: #6366F1;
    --color-primary-hover: #252C3D;

    --color-secondary-hover: #7671F5;
    --color-secondary: #818CF8;

    --color-border: #374151;
    --color-border-warm: #4B5563;

    --text-color: #F3F4F6;
    --text-secondary: #9CA3AF;

    --color-white: #1F2937;

    --main-background: #0F172A;
}

body{
    width:100%;
    height: 100%;
    font-family: Arial, Helvetica, sans-serif;
    color: var(--text-color);
}



/* ================ Sections ============= */

/* MAIN */
main{
    background-color: var(--background-color);
    transition: color .3s , background-color .3s;
}
.dados,
.interface,
.notificações,
.perfil{
    background-color: var(--background-color);
    transition: color .5s , background-color .5s;
}
section{
    width: 95%;
    border-radius: 8px;
    border: 1px solid var(--color-border-warm);
    margin: 0 auto;
    background-color: var(--color-white);
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.457);
    margin-bottom: 20px;
    padding: 15px;

}
.section-content{
    padding: 20px;
    border-bottom: 1px solid var(--color-border);
}
.cards-theme {
    display: grid;
    grid-template-columns: 1fr;
    gap: 16px;
    width: 100%;
    padding: 10px;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 16px;
    border: 3px solid var(--color-border);
    border-radius: 18px;
    cursor: pointer;
    transition: border .3s;
    position: relative;
}
.card:hover {
    border-color: var(--color-primary);
}

.card.active {
    border-color: var(--color-primary);
}
.card.ativo > .fa-circle-check{
    opacity: 1;
}
.fa-circle-check{
    opacity: 0;
    position: absolute;
    top: 10%;
    right: 5%;
    color: var(--color-primary);
    transition: opacity .3s;
}

.svg {
    width: 100%;
    height: 120px;
}
.theme-preview {
    width: 100%;
    height: 100%;
    display: block;
}
.card p {
    display: flex;
    align-items: center;
    gap: 8px;
   
    margin: 16px 0 0;
}


/* =====================================
Settings
======================================= */
.setting{
    padding: 10px;
}
select{
    width: 96%;
    border-radius: 8px;
    padding: 10px;
    font-weight: bold;
}

.setting-option{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 10px 20px;
    border-bottom: 1px solid var(--color-border-warm);
}
.setting-option:last-child{
    border-bottom: 0px;
}
/* ================ botões dos options ============= */
/* Switch */
.switch{
    background-color: gray;
    padding: 5px;
    border-radius: 20px;
    height: fit-content;
    min-width:50px;
    position: relative;
}
.slider{
    padding: 10px;
    position: absolute;
    left:6%;
    top: 14%;
    padding: 1px 0px;
    height: 70%;
    width:40%;
    background-color: var(--color-white);
    border-radius: 50%;
    transform: translateX(0%);
    transition: transform .2s;
    box-shadow: 1px 0px 3px rgba(0, 0, 0, 0.133);
}
.checkbox {
    opacity: 0;
}
.checkbox:checked + .slider {
    transform: translateX(115%) scale(1.05);
}
.switch:has(.checkbox:checked) {
    background-color: var(--color-primary);
}
/* ================ Dados ============= */
.warning{
    background-color: #FEF2F2;
    border: 1px solid var(--color-red);
    color: darkred;
    border-radius: 8px;
    padding: 10px;
    width: 100%;
    margin-bottom: 20px;
}
.txt-aviso{
    margin-top: 10px;
    display: none;
}

.btn-delete{
    color: var(--color-white);
    background-color:var(--color-red);
    padding: 10px;
    border-radius: 12px;
    border:0;
    margin-top: 20px;
    font-weight: bold;
}
.btn-cancelar{
    display: none;
    color: var(--color-red);
    background-color:var(--color-white);
    padding: 10px;
    border-radius: 12px;
    border:1px solid var(--color-red);
    margin-top: 20px;
    font-weight: bold;
}

.confirmando .btn-cancelar {
    display: inline;
}

.confirmando .txt-aviso {
    display: block;
}
/* exportar dados */
.exportar{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-around;
    padding: 10px;
    background-color: #F8F8FB;
    border: 1px solid var(--color-border-warm);
    border-radius: 12px;

}
.buttons-exportar{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}
.btn-exportar{
    padding: 10px;
    background-color: var(--color-white);
    border: 1px solid var(--color-border-warm);
    border-radius: 12px;
    width: 40%;
}


@media(min-width:768px){

#menu ul{
    display: flex;
}
.menu-conteiner{
    display: block;
}
/* Cards */
.section-content{
    margin-bottom: 30px;
}
.cards-theme {
    display: grid;
    grid-template-columns: repeat(3,1fr);
}
}




@media(min-width:1024px){

#menu ul{
    display: flex;
}
.menu-conteiner{
    display: block;
}
/* Cards */
.section-content{
    margin-bottom: 30px;
}
.cards-theme {
    display: grid;
    grid-template-columns: repeat(3,1fr);
}



}



