
/*========================== FOOTER ==========================*/

footer {
    display: flex;
    justify-content: space-evenly;
    align-items: center;

    gap: 20px;

    padding: 20px;

    border: 1px solid var(--color-border);

    background-color: var(--color-header);

    flex-wrap: wrap;
}

/*========================== ÍCONES ==========================*/

.icon-footer {
    color: white;
}

.icon-footer.fa-heart {
    color: red;
}

/*========================== LINKS ==========================*/

footer a {
    color: var(--color-text-muted);

    text-decoration: none;

    transition: color 0.3s ease;
}

footer a:hover {
    color: var(--color-text);
}

