/*==========================RESET==========================*/
*,
*::before,
*::after{
    margin:0;
    padding:0;
    box-sizing:border-box;
}
/*==========================VARIÁVEIS==========================*/
:root {
    /* Cores primárias */
    --color-primary: #551eae;
    --color-secondary: #A78BFA;
  
    --color-accent: #6366F1;

    /* Cores neutras */
    --color-header: #000619;
    --color-banner: #00071A;
    --color-bg: #000415;
    --color-card: #010B22;
    --color-card2: #000B22;
    --color-border: #2D3748;
    --color-text: #E5E7EB;
    --color-text-muted: #9CA3AF;
    --color-surface: #18105A;
    --color-surface2: #831c9f;
    --color-icon-bg:#0C0B3C;

    /* Gradientes */
    --gradient-primary: linear-gradient(
        135deg,
        #8B5CF6 0%,
        #4012CE 100%
    );

    --gradient-secundary: linear-gradient(
        135deg,
        #5E1FE6,
        #7C3AED
    );
    --gradient-herobody:radial-gradient(
    circle at top right,#5a1ea8,#090a1d 60%);
    /*Bordas*/
    --radius-sm:8px;
    --radius-md:12px;
    --radius-lg:20px;
}

.boas-vinda{
    display:inline-block;
    font-weight: bold;
    padding: 10px 12px 0px 10px;
    margin-bottom: 15px;
    border-radius: 30px;
    color: var(--color-primary);
    background-color: #270278be;
}

.banner-content{
    font-size:clamp(1.4rem,2vw,2rem);
    padding-bottom: 25px;   
}

/*==========================BANNER==========================*/

.banner-sobre{
    padding: 10px;
    background-color: var(--color-bg);
  
}
.highlights{
    display:flex;
    justify-content:space-between;
    align-items:center;
    gap:30px;
    padding:30px 0;
    flex-wrap: wrap;
    
}
.highlight{ 
    background-color: var(--color-icon-bg);
    padding: 10px;
    color:var(--color-primary);
    border: 1px solid var(--color-surface);
    border-radius: 7px;
    display:flex;
    justify-content:center;
    align-items:center;
    background:#120f46;
    border:1px solid #3826a8;
    border-radius:12px;
    color:#8B5CF6;
  
}

.highlights-container{
    display:flex;
    align-items:center;
    gap:18px;
    flex:1 1 50px;
}
.highlight-txt h2{
    color:white;
    font-size:2rem;
    font-weight:700;
}

.highlight-txt p{
    margin-top:5px;
    color:#9CA3AF;
    font-size:.95rem;
}
.highlights-container{
    position:relative;
}

.highlights-container:not(:last-child)::after{
    content:"";
    position:absolute;
    right:-20px;
    top:50%;
    transform:translateY(-50%);
    width:1px;
    height:60px;
    background:#24284a;
}

.hero-sobre{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    width: 100%;
}
.perfil{
    background: var(--color-header)  no-repeat center center;
    background-size: cover;
    border-radius: 20px;
    width:90%;
    max-width:370px;
    height:470px;
    border: 3px solid var(--color-surface2);
    position: relative;
    transition: .4s ease;
    cursor: pointer;
    box-shadow: 1px 1px 10px rgba(7, 7, 7, 0.253);
    display: flex;
    font-weight: bolder;
    justify-content: center;
    align-items: center;
}
.perfil:hover{
    transform: scale(1.05);
}

.perfil:active{
    transform: scale(1.05);
}
.perfil:focus{
    outline: 5px solid var(--color-surface2);
    outline-offset: 10px;

}

.icone-code{
      position:absolute;
    top:25%;
    left:-10%;
    width:25%;
    max-width:140px;
}
.icone-code img{
    display:block;
    max-width:100%;
    height:auto;
}

.icone-css{
    position: absolute;
    top:60%;
    right:-10%;
    width:22%;
    max-width:120px; 
    z-index: 10; 
}

.icone-css img{
    display:block;
    max-width:100%;
    height:auto;
}
.modal{ 
    padding: 10px;
    height: auto;
    width: calc(100% - 100px);
    background-color: var(--color-card);
    border: 3px solid var(--color-surface);
    border-radius: 15px;
    color: var(--color-text-muted);
    position: relative;
    transition: .4s ease ;
    box-shadow: 1px 1px 10px rgba(7, 7, 7, 0.253);

}
.modal:hover{
    transform: scale(1.05);
    z-index: 10;
}
.modal h3{
    color: var(--color-text);
}
.icone{
    padding: 10px;
    color:var(--color-primary);
}
/*==========================EXPERIÊNCIAS==========================*/
/*Main do corpo*/
.experiencias{
    padding: 10px;
    width: 100%;
    min-height: 630px; 
}
/*==========================HABILIDADES==========================*/
.skills{
    width: 100%;
    background-color: var(--color-card2);
    border: 1px solid #071632;
    border-radius: 10px;
    min-height: 200px;
    padding: 10px;
    box-shadow: 1px 1px 10px rgba(7, 7, 7, 0.253);
    margin-bottom: 20px;

}
.tecnologias{
    display:grid;
    grid-template-columns: repeat(2,1fr);
    grid-auto-flow: row;
    row-gap: 20px;
  
}
.ferramentas{
    display:grid;
    grid-template-columns: repeat(2,1fr);
    grid-auto-flow: row;
    margin-bottom: 20px;
    row-gap: 20px;
   
}
.tecnologias h3{
    display: flex;
    width: 100%;
    padding: 10px;
    grid-column: span 2;
}

.ferramentas h3{
    width: 100%;
    padding: 10px;
    grid-column: span 2;
}
.highlight-tec{
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;

    width:140px;
    height:140px;

    border-radius:18px;
    gap:15px;

    background-color:#0B1324;
    transition:.3s;
    cursor:pointer;
}
.highlight-tec img{
    width:55px;
    height:55px;
    object-fit:contain;
}
.highlight-tec:hover {
    transform: translateY(-10px);
}

.highlight-tec::before{
    content: "";
    position: absolute;
    inset: 0;
    padding: 1.5px;
    border-radius: inherit;

    -webkit-mask:
        linear-gradient(#fff 0 0) content-box,
        linear-gradient(#fff 0 0);
    -webkit-mask-composite: xor;
            mask-composite: exclude;

    opacity: .85;
    pointer-events: none;
}


.highlight-tec:hover{
   transform:translateY(-10px);
}
abbr {
    text-decoration: none;
    border-bottom: none;
    cursor: help;
}

.html{
    position: relative;
    background:
        radial-gradient(circle at top,
            rgba(255,107,74,.22),
            transparent 65%),
        linear-gradient(to bottom,
            rgba(255,107,74,.18) 0%,
            rgba(255,107,74,.08) 45%,
            transparent 100%),
        #0B1324;
    transition: .3s;
     
}
.html:hover {
    box-shadow: 1px 1px 4px rgb(255, 107, 74);
}
.html::before{
     content: '';
    position: absolute;
    background: linear-gradient(135deg,#ff784f11,#7e3156);
}
.css{
    position: relative;
    background:
        radial-gradient(circle at top,
            rgba(45,140,255,.22),
            transparent 65%),
        linear-gradient(to bottom,
            rgba(45,140,255,.18) 0%,
            rgba(45,140,255,.08) 45%,
            transparent 100%),
        #0B1324;
}
.css:hover {
    box-shadow: 1px 1px 4px rgb(45,140,255);
}

.css::before{
     content: '';
    position: absolute;
    background: linear-gradient(135deg,#2d8bff3b,#1b4cff7e);
}
.js{
    position: relative;
    background:
        radial-gradient(circle at top,
            rgba(255,212,59,.22),
            transparent 65%),
        linear-gradient(to bottom,
            rgba(255,212,59,.18) 0%,
            rgba(255,212,59,.08) 45%,
            transparent 100%),
        #0B1324;
}
.js:hover {
   
    box-shadow: 1px 1px 3px rgb(255,212,59);
}

.js::before{
    background: linear-gradient(135deg,#ffd53b2e,#8a6d00);
    content: '';
    position: absolute;
}
.php{
    position: relative;
    background:
    radial-gradient(circle at top,
    rgba(119,123,180,.25),
    transparent 65%),
    linear-gradient(to bottom,
    rgba(119,123,180,.20) 0%,
    rgba(119,123,180,.08) 45%,
    transparent 100%),
    #0B1324;
}

.php:hover {
    box-shadow: 1px 1px 3px rgb(119,123,180);
}

.php::before{
    background: linear-gradient(135deg,#777bb42e,#4f5180);
    content: '';
    position: absolute;
}
.git{
    position: relative;
    background:
        radial-gradient(circle at top,
            rgba(255,97,64,.22),
            transparent 65%),
        linear-gradient(to bottom,
            rgba(255,97,64,.18) 0%,
            rgba(255,97,64,.08) 45%,
            transparent 100%),
        #0B1324;
}
.git:hover {
    box-shadow: 1px 1px 4px rgb(255,97,64);
}

.git::before{
     content: '';
    position: absolute;
    background: linear-gradient(135deg,#ff60402b,#8d2f56);
}
.vscode{
    position: relative;
    background:
        radial-gradient(circle at top,
            rgba(0,122,255,.22),
            transparent 65%),
        linear-gradient(to bottom,
            rgba(0,122,255,.18) 0%,
            rgba(0,122,255,.08) 45%,
            transparent 100%),
        #0B1324;
}
.vscode:hover {
  
    box-shadow: 1px 1px 4px rgb(0,122,255);
}
.vscode::before{
     content: '';
    position: absolute;
    background: linear-gradient(135deg,#007bff2e,#0048b5);
}
.github{
    position: relative;
    background:
        radial-gradient(circle at top,
            rgba(110,118,129,.25),
            transparent 65%),
        linear-gradient(to bottom,
            rgba(110,118,129,.18) 0%,
            rgba(110,118,129,.08) 45%,
            transparent 100%),
        #0B1324;
}

.github:hover{
    box-shadow: 1px 1px 4px rgb(110,118,129);
}

.github::before{
    background: linear-gradient(135deg,#6e76812e,#24292f);
    content: '';
    position: absolute;
}
.figma{
    background:
        radial-gradient(circle at top,
            rgba(242, 78, 30, .22),
            transparent 65%),
        linear-gradient(to bottom,
            rgba(162, 89, 255, .18) 0%,
            rgba(26, 188, 254, .10) 30%,
            rgba(10, 207, 131, .08) 60%,
            transparent 100%),
        #0B1324;
    position: relative;

}

.figma:hover{
    box-shadow: 1px 1px 4px rgb(242, 78, 30);
}

.figma::before{
    content: '';
    position: absolute;
    background: linear-gradient(
        135deg,
        #F24E1E,
        #FF7262,
        #A259FF,
        #1ABCFE,
        #0ACF83
    );
}

.mysql {
    background:
        radial-gradient(circle at top,
            rgba(0, 117, 143, .22),
            transparent 65%),
        linear-gradient(to bottom,
            rgba(0, 117, 143, .18) 0%,
            rgba(0, 86, 105, .10) 30%,
            rgba(245, 130, 32, .08) 60%,
            transparent 100%),
        #0B1324;
    position: relative;
}

.mysql:hover {
    box-shadow: 1px 1px 4px rgb(0, 117, 143);
}

.mysql::before {
    content: '';
    position: absolute;
    background: linear-gradient(
        135deg,
        #00758F,
        #00A0C6,
        #F58220,
        #FFB347
    );
}


/*==========================BARRA DE PROGRESSO==========================*/

.bar{
    padding: 10px;
    border: 1px solid #071632;
    border-radius: 8px;  
}
.bar p {
    display: flex;
    align-items: center;
    margin: 0px;
}
.progress-bar{
    width:90%;
    border-radius: 0px;
    overflow: hidden;
    position: relative;
}
.barra-conteiner{
    display: flex;
    gap: 10px;
    align-items: center;
    font-weight: bolder;
}


progress::-webkit-progress-bar {
    background-color: #1f2937;
    border-radius: 8px;
}

progress::-webkit-progress-value {
    border-radius: 8px;
    background-color: var(--color-primary); 
    animation: surgir-horizontal .6s ease;  
}

progress::-moz-progress-bar {
    background-color: var(--color-primary);
    border-radius: 8px;
    
}
/*==========================JORNADA==========================*/


.jornada{
    background: var(--color-header);
    border: 1px solid rgba(255,255,255,.08);
    border-radius: 20px;
    padding: 30px; 
}

.jornada h2{
    font-size: 2rem;
    margin-bottom: 35px;
}

.timeline{
    position: relative;
    padding-left: 35px;
}

.timeline::before{
    content: "";
    position: absolute;
    left: 6px;
    top: 0;
    bottom: 0;
    width: 2px;
    background: linear-gradient(
        to bottom,
        var(--color-primary),
        var(--color-secondary)
    );
    border-radius: 10px;
}

.item{
    position: relative;
    margin-bottom: 45px;
    transition: .3s;
}

.item:last-child{
    margin-bottom: 0;
}

.circle{
    position: absolute;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background: var(--color-primary);
    left: -36px;
    top: 8px;
    border: 4px solid var(--color-header);
    box-shadow: 0 0 15px var(--color-primary);
    transition: .3s;
}

.item:hover .circle{
    transform: scale(1.3);
    box-shadow: 0 0 25px var(--color-secondary);
}

.content h4{
    color: var(--color-primary);
    font-size: 1rem;
    margin-bottom: 10px;
}

.content h3{
    font-size: 1.6rem;
    margin-bottom: 15px;
    color: var(--color-text);
}

.content p{
    color: var(--color-text-secondary);
    line-height: 1.7;
}


/*==========================Responsividade==========================*/


@media (min-width:768px){

.banner-sobre{
    display:flex;
    align-items:center;
    justify-content:space-between;
    gap:40px;
    margin-bottom:10px;

}

.banner-container{
    flex:1;
}

.hero-sobre{
    flex:1;
    position:relative;
    transform:none;
    transform: translateX(-10%);

}

.perfil{
    width:340px;
    height:430px;
}

.modal{
    position:absolute;
    width:270px;
    top:40px;
    right:-30px;
}

.icone-code{
    left:-40px;
    top:90px;
}

.icone-css{
    right:-20px;
    bottom:20px;
    top:auto;
}
.tecnologias,
.ferramentas{

    grid-template-columns: repeat(3,1fr);
    justify-items: center;
}
.tecnologias h3,
.ferramentas h3{
    grid-column: span 3;
}
}
@media (min-width:992px){

.banner-sobre{
    gap:70px;
    margin-bottom:10px;
   

}

.perfil{
    width:370px;
    height:450px;
}

.modal{
    width:310px;
    right:-60px;
    top:35px;
}

.icone-code{
    left:-55px;
    width:120px;
}

.icone-css{
    right:-30px;
    width:95px;
}

}
@media (min-width: 1024px){

.experiencias{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 2rem;
    align-items: start;
}
nav{
    animation: surgir-top .5s;
}
.highlights,
.banner-content{
    animation: surgir-left .5s;

}
.hero-sobre{
    animation: surgir-right .5s;
}

.skills,
.jornada{
    width: 100%;
}
.tecnologias{
    display:grid;
    grid-template-columns: repeat(4,1fr);
    gap: 10px;
}
.ferramentas{
    display:grid;
    grid-template-columns: repeat(4,1fr);
    grid-auto-flow: row;
    margin-bottom: 20px;
}

.tecnologias h3{
 
    grid-column: 1 / -1;
    display: flex;
    width: 100%;
    padding: 10px;
}

.ferramentas h3{
    display: flex;
    width: 100%;
    grid-column: span 5;
    padding: 10px;
}

}


/*==========================VIEW TRANSITION==========================*/
@view-transition {
    navigation: auto;
}

::view-transition-old(root) {
    animation: fade-out .4s;
}

::view-transition-new(root) {
    animation: fade-in .4s;
}
/*==========================ANIMAÇÕES==========================*/
@keyframes fade-out {
   
    to {
        opacity: 0;
    }
}

@keyframes fade-in {
    from {
        opacity: 0;
    }
  

}
@keyframes surgir{
    from{
        opacity:0;
        transform:translateY(30px);
    }
    to{
        opacity:1;
        transform:translateY(0);
    }

}
@keyframes surgir-horizontal {
    from{
        opacity: 0;
        transform: translateX(-100%);
    }
    to{
        opacity: 1;
        transform: translateX(0);
    }
}




